{
  "id": 1,
  "title": "{{ cluster_name }} Dashboard",
  "originalTitle": "{{ cluster_name }} Dashboard",
  "tags": [],
  "style": "dark",
  "timezone": "browser",
  "editable": true,
  "hideControls": false,
  "sharedCrosshair": false,
  "rows": [
    {
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "datasource": null,
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 2,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 6,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {% for h in groups[inventory_group_slave] %}
            {
              "alias": "{{ hostvars[h].system_name }}",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "disk_usage_root_used_percentage",
              "query": "SELECT mean(value) FROM \"disk_usage_root_used_percentage\" WHERE \"host\" = '{{ hostvars[h].system_name }}' AND $timeFilter GROUP BY time($interval)",
              "tags": [
                {
                  "key": "host",
                  "value": "{{ hostvars[h].system_name }}"
                }
              ]
            {{ '}' if loop.last else '},' }}
            {% endfor %}
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Slave Disk Used Percent",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        },
        {
          "aliasColors": {},
          "bars": false,
          "datasource": null,
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 5,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 6,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {% for h in groups[inventory_group_master] + groups[inventory_group_service] %}
            {
              "alias": "{{ hostvars[h].system_name }}",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "disk_usage_root_used_percentage",
              "query": "SELECT mean(value) FROM \"disk_usage_root_used_percentage\" WHERE \"host\" = '{{ hostvars[h].system_name }}' AND $timeFilter GROUP BY time($interval)",
              "tags": [
                {
                  "key": "host",
                  "value": "{{ hostvars[h].system_name }}"
                }
              ]
            {{ '}' if loop.last else '},' }}
            {% endfor %}
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Other Nodes Disk Used Percent",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        }
      ],
      "title": "Disk"
    },
    {
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "datasource": null,
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 3,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 6,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {% for h in groups[inventory_group_slave] %}
            {
              "alias": "{{ hostvars[h].system_name }}",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "memory_used",
              "query": "SELECT mean(value) FROM \"memory_used\" WHERE \"host\" = '{{ hostvars[h].system_name }}' AND $timeFilter GROUP BY time($interval)",
              "tags": [
                {
                  "key": "host",
                  "value": "{{ hostvars[h].system_name }}"
                }
              ]
            {{ '}' if loop.last else '},' }}
            {% endfor %}
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Slave Memory Used",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        },
        {
          "aliasColors": {},
          "bars": false,
          "datasource": null,
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 4,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 6,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {% for h in groups[inventory_group_master] + groups[inventory_group_service] %}
            {
              "alias": "{{ hostvars[h].system_name }}",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "memory_used",
              "query": "SELECT mean(value) FROM \"memory_used\" WHERE \"host\" = '{{ hostvars[h].system_name }}' AND $timeFilter GROUP BY time($interval)",
              "tags": [
                {
                  "key": "host",
                  "value": "{{ hostvars[h].system_name }}"
                }
              ]
            {{ '}' if loop.last else '},' }}
            {% endfor %}
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Other Nodes Memory Used",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        }
      ],
      "title": "Memory"
    },
    {
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "datasource": null,
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 1,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 6,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {% for h in groups[inventory_group_slave] %}
            {
              "alias": "{{ hostvars[h].system_name }}",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "cpu_total_",
              "query": "SELECT mean(value) FROM \"cpu_total_\" WHERE \"host\" = '{{ hostvars[h].system_name }}' AND $timeFilter GROUP BY time($interval)",
              "tags": [
                {
                  "key": "host",
                  "value": "{{ hostvars[h].system_name }}"
                }
              ]
            {{ '}' if loop.last else '},' }}
            {% endfor %}
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Slave CPU Total",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        },
        {
          "aliasColors": {},
          "bars": false,
          "datasource": null,
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 6,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 6,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {% for h in groups[inventory_group_master] + groups[inventory_group_service] %}
            {
              "alias": "{{ hostvars[h].system_name }}",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "cpu_total_",
              "query": "SELECT mean(value) FROM \"cpu_total_\" WHERE \"host\" = '{{ hostvars[h].system_name }}' AND $timeFilter GROUP BY time($interval)",
              "tags": [
                {
                  "key": "host",
                  "value": "{{ hostvars[h].system_name }}"
                }
              ]
            {{ '}' if loop.last else '},' }}
            {% endfor %}
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Other Nodes CPU Total",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        }
      ],
      "title": "CPU"
    },
    {
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "datasource": null,
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 7,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 6,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {% for h in groups[inventory_group_slave] %}
            {
              "alias": "{{ hostvars[h].system_name }}",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "mesos-slave_slave_executors_running",
              "query": "SELECT mean(value) FROM \"mesos-slave_slave_executors_running\" WHERE \"host\" = '{{ hostvars[h].system_name }}' AND $timeFilter GROUP BY time($interval)",
              "tags": [
                {
                  "key": "host",
                  "value": "{{ hostvars[h].system_name }}"
                }
              ]
            {{ '}' if loop.last else '},' }}
            {% endfor %}
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Mesos Slave Executors Running",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        },
        {
          "aliasColors": {},
          "bars": false,
          "datasource": null,
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 8,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 6,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {% for h in groups[inventory_group_slave] %}
            {
              "alias": "{{ hostvars[h].system_name }}",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "mesos-slave_slave_tasks_running",
              "query": "SELECT mean(value) FROM \"mesos-slave_slave_tasks_running\" WHERE \"host\" = '{{ hostvars[h].system_name }}' AND $timeFilter GROUP BY time($interval)",
              "tags": [
                {
                  "key": "host",
                  "value": "{{ hostvars[h].system_name }}"
                }
              ]
            {{ '}' if loop.last else '},' }}
            {% endfor %}
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Mesos Slave Running Tasks",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        }
      ],
      "title": "Mesos Slaves"
    },
    {
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "datasource": null,
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 9,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 6,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {
              "alias": "Activated Slaves",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "mesos-master_activated_slaves",
              "query": "SELECT mean(value) FROM \"mesos-master_activated_slaves\" WHERE $timeFilter GROUP BY time($interval)",
              "tags": []
            },
            {
              "alias": "Active Frameworks",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "mesos-master_master_frameworks_active",
              "query": "SELECT mean(value) FROM \"mesos-master_master_frameworks_active\" WHERE $timeFilter GROUP BY time($interval)",
              "tags": [],
              "target": ""
            },
            {
              "alias": "Dropped Messages",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "mesos-master_master_dropped_messages",
              "query": "SELECT mean(value) FROM \"mesos-master_master_dropped_messages\" WHERE $timeFilter GROUP BY time($interval)",
              "tags": [],
              "target": ""
            },
            {
              "alias": "Active Tasks",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "mesos-master_active_tasks_gauge",
              "query": "SELECT mean(value) FROM \"mesos-master_active_tasks_gauge\" WHERE $timeFilter GROUP BY time($interval)",
              "tags": [],
              "target": ""
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Mesos Master Stats",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        },
        {
          "aliasColors": {},
          "bars": false,
          "datasource": null,
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 10,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 6,
          "stack": false,
          "steppedLine": false,
          "targets": [],
          "timeFrom": null,
          "timeShift": null,
          "title": "Marathon Stats",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        }
      ],
      "title": "Mesos Master"
    },
    {
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "datasource": null,
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 11,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 12,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {% for h in groups[inventory_group_master] + groups[inventory_group_service] + groups[inventory_group_slave] %}
            {
              "alias": "{{ hostvars[h].system_name }}",
              "fields": [
                {
                  "func": "mean",
                  "name": "value"
                }
              ],
              "groupByTags": [],
              "measurement": "ntpdate_offset",
              "query": "SELECT mean(value) FROM \"ntpdate_offset\" WHERE \"host\" = '{{ hostvars[h].system_name }}' AND $timeFilter GROUP BY time($interval)",
              "tags": [
                {
                  "key": "host",
                  "value": "{{ hostvars[h].system_name }}"
                }
              ]
            {{ '}' if loop.last else '},' }}
            {% endfor %}
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Time drift",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        }
      ],
      "title": "Time"
    }
  ],
  "nav": [
    {
      "collapse": false,
      "enable": true,
      "notice": false,
      "now": true,
      "refresh_intervals": [
        "5s",
        "10s",
        "30s",
        "1m",
        "5m",
        "15m",
        "30m",
        "1h",
        "2h",
        "1d"
      ],
      "status": "Stable",
      "time_options": [
        "5m",
        "15m",
        "1h",
        "6h",
        "12h",
        "24h",
        "2d",
        "7d",
        "30d"
      ],
      "type": "timepicker"
    }
  ],
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "templating": {
    "list": []
  },
  "annotations": {
    "list": []
  },
  "schemaVersion": 6,
  "version": 3,
  "links": []
}