{
  "access": "direct",
  "basicAuth": false,
  "basicAuthPassword": "",
  "basicAuthUser": "",
  "database": "{{ cluster_name }}",
  "id": 1,
  "isDefault": true,
  "jsonData": null,
  "name": "{{ cluster_name }}",
  "orgId": 1,
  "password": "admin",
  "type": "influxdb",
  "url": "{{ influx_db_url }}",
  "user": "admin"
}