{
  "zk": "zk://{{ zookeeper_host_list }}/mesos",
  "refreshSeconds": 10,
  "ttl": 10,
  "domain": "mesos",
  "port": 53,
  "resolvers": [ "{{ private_lan_dns }}" ],
  "timeout": 5,
  "httpon": true,
  "dnson": true,
  "httpport": 8123,
  "externalon": true,
  "SOAMname": "root.ns1.mesos",
  "SOARname": "ns1.mesos",
  "SOARefresh": 10,
  "SOARetry":   600,
  "SOAExpire":  86400,
  "SOAMinttl": 10
}