{
	"id": "/mesos-dns",
	"container": {
		"type": "DOCKER",
		"docker": {
			"network": "BRIDGE",
			"image": "mesosphere/mesos-dns",
			"portMappings": [
				{
					"containerPort": 53,
					"hostPort": 0,
					"servicePort": 53,
					"protocol": "udp"
				},
				{
                    "containerPort": 8123,
                	"hostPort": 0,
                	"servicePort": 8123,
                	"protocol": "tcp"
      			}
			]
		},
		"volumes": [
			{
				"containerPath": "config.json",
				"hostPath": "{{ mesos_dns_dir }}/config.json",
				"mode": "RO"
			}
		]
	},
	"cmd": "/mesos-dns -v 2 -conf=/config.json",
	"cpus": 0.25,
	"mem": 512,
	"instances": 1
}
