# Ubuntu upstart file for Appsoma Welder
limit fsize unlimited unlimited
limit cpu unlimited unlimited
limit as unlimited unlimited
limit nofile 64000 64000
limit rss unlimited unlimited
limit nproc 32000 32000

kill timeout 300 # wait 300s between SIGTERM and SIGKILL.

pre-start script
    if [ ! -d {{ project_folder }} ]; then
        mkdir -p {{ project_folder }}
        chgrp {{ welder_group['name'] }} {{ project_folder }}
        chmod g+s {{ project_folder }}
    fi
    if [ ! -d {{ upload_folder }} ]; then
        mkdir -p {{upload_folder}}
        chgrp {{ welder_group['name'] }} {{ upload_folder }}
        chmod g+s {{ upload_folder }}
    fi
end script

start on runlevel [2345]
stop on runlevel [06]

script
  ENABLE_WELDER="yes"
  DIR=/opt/welder/widgets
  DAEMON=/opt/welder/widgets/auto_build

  if [ "x$ENABLE_WELDER" = "xyes" ]
  then
    exec start-stop-daemon --chdir $DIR --start --exec $DAEMON >> {{ welder_log_dir }}/welder-widgets.log 2>&1
  fi
end script