# Ubuntu upstart file for Appsoma Welder
limit fsize unlimited unlimited
limit cpu unlimited unlimited
limit as unlimited unlimited
limit nofile 64000 64000
limit rss unlimited unlimited
limit nproc 32000 32000

kill timeout 300 # wait 300s between SIGTERM and SIGKILL.

start on runlevel [2345]
stop on runlevel [06]

script
  ENABLE_WELDER="yes"
  DIR={{ welder_dir }}
  DAEMON_OPTS="{{ cluster_name }}"
  DAEMON={{ welder_dir }}/welder.sh

  if [ "x$ENABLE_WELDER" = "xyes" ]
  then
    exec start-stop-daemon --chdir $DIR --start --exec $DAEMON $DAEMON_OPTS >> {{ welder_log_dir }}/welder.log 2>&1
  fi
end script