# Ansible managed
dbpath={{ db_folder }}

#where to log
logpath=/var/log/mongodb/mongod.log
logappend=true

# Listen to local interface only. Comment out to listen on all interfaces.
bind_ip=localhost
port={{ db_port | int }}

smallfiles=true
nojournal=true


