{
    "default": {
        "apiURL": "http://{{ int_ip }}:{{welder_port }}",
        "siteURL": "http://{{ ext_ip }}:{{ welder_port }}",

        "marathonURL": "http://{{ int_ip }}:8080",
        "marathonFiles": "/mnt/data/mesos/slaves",
        "marathonSubscribeCommand": "sleep 1",
        "newFilePermissionsForNonOwners": "",

        {% if haproxy_use_ssl is defined and haproxy_use_ssl %}
        "consoleHost": "https://welder_console.{{service_discovery_dns_suffix}}",
        {% else %}
        "consoleHost": "http://welder_console.{{service_discovery_dns_suffix}}",
        {% endif %}
        "consolePort": "{{ welder_port | int + 1 }}",

        "projectsFolder": "{{ project_folder }}",
        "uploadFolder": "{{ upload_folder }}",
        "pamGroupName": "{{ welder_group['name'] }}",
        "mongodb": {
            "host": "localhost",
            "port": {{ db_port | int }},
            "database": "welder"
        },
        "scheduler": "{{ scheduler }}",
{% if scheduler == "rhino" %}
        "rhino": {
           "url": "http://{{ scheduler_ip }}:8899/"
        }
{% elif scheduler == "sge" %}
        "sge": {
            "binPath": "/opt/sge/bin/lx-amd64",
            "sgeRoot": "/opt/sge"
        }
{% endif %}
    },
    "TLS": {
        "apiURL": "https://{{ int_ip }}:{{welder_port }}",
        "siteURL": "https://{{ ext_ip }}:{{ welder_port }}",

        "marathonURL": "http://{{ int_ip }}:8080",
        "marathonFiles": "/mnt/data/mesos/slaves",
        "marathonSubscribeCommand": "sleep 1",
        "newFilePermissionsForNonOwners": "",

        {% if haproxy_use_ssl is defined and haproxy_use_ssl %}
        "consoleHost": "https://welder_console.{{service_discovery_dns_suffix}}",
        {% else %}
        "consoleHost": "http://welder_console.{{service_discovery_dns_suffix}}",
        {% endif %}
        "consolePort": "{{ welder_port | int + 1 }}",

        "projectsFolder": "{{ project_folder }}",
        "uploadFolder": "{{ upload_folder }}",
        "pamGroupName": "docker",
        "mongodb": {
            "host": "localhost",
            "port": {{ db_port | int }},
            "database": "welder"
        },
        "scheduler": "{{ scheduler }}",
{% if scheduler == "rhino" %}
        "rhino": {
            "url": "http://{{ scheduler_ip }}:8899/"
        },
{% elif scheduler == "sge" %}
        "sge": {
            "binPath": "/opt/sge/bin/lx-amd64",
            "sgeRoot": "/opt/sge"
        },
{% endif %}
        "https": {
            "keyFile": "{{ key_path }}",
            "certFile": "{{ cert_path }}"
        }
    }
}