<LoadPlugin "python">
    Globals true
</LoadPlugin>

<Plugin "python">
    ModulePath "/usr/share/collectd/plugins/"

    Import "mesos-master"

    <Module "mesos-master">
        Instance "int"
        Host "{{ hostvars[inventory_hostname]['private_ip_address'] }}"
        Port 5050
        Verbose false
        Version "{{ mesos_version }}"
    </Module>
    <Module "mesos-master">
        Instance "qa"
        Host {{ hostvars[inventory_hostname]['private_ip_address'] }}"
        Port 5051
        Verbose false
        Version "{{ mesos_version }}"
    </Module>
</Plugin>
</Plugin>