# Configuration for the app $app_name
# Using port $service_port
listen $app_name-$service_port
  bind 0.0.0.0:$service_port ssl crt {{ haproxy_certificate_path }}
  mode tcp
  option tcplog
  balance leastconn