# Configuration for the app $app_name
# Using port $service_port
{% if haproxy_no_http is not defined or not haproxy_no_http %}
listen $app_name-$service_port
  bind 0.0.0.0:$service_port
  mode tcp
  option tcplog
  balance leastconn
{% endif %}

{% if haproxy_use_ssl is defined and haproxy_use_ssl %}
listen $app_name-$service_port
  bind 0.0.0.0:$service_port ssl crt {{ haproxy_certificate_path }}
  mode tcp
  option tcplog
  balance leastconn
{% endif %}