{
  "url": "{{ item['url'] }}",
  "service_port": "{{ item['service_port'] }}",
  "app_name": "{{ item['app_name'] }}",
  "servers": [ "{{ hostvars[groups[inventory_group_master][0]]['ec2_ip_address'] }}:{{ item['port'] }}" ]
}