{
  "checks": {
   "cpu_metrics": {
        "type": "metric",
        "command": "/usr/local/bin/metrics-cpu.rb",
        "subscribers": [
            "{{ cluster_name }}"
        ],
        "handlers": [ "influxdb" ],
        "interval": {{ metric_interval | int }}
    },
    "memory_metrics": {
        "type": "metric",
        "command": "/usr/local/bin/metrics-memory.rb",
        "subscribers": [
            "{{ cluster_name }}"
        ],
        "handlers": [ "influxdb" ],
        "interval": {{ metric_interval | int }}
    },
    "network_metrics": {
        "type": "metric",
        "command": "/usr/local/bin/metrics-net.rb",
        "subscribers": [
            "{{ cluster_name }}"
        ],
        "handlers": [ "influxdb" ],
        "interval": {{ metric_interval | int }}
    },
    "disk_metrics": {
        "type": "metric",
        "command": "/usr/local/bin/metrics-disk-usage.rb -l",
        "subscribers": [
            "{{ cluster_name }}"
        ],
        "handlers": [ "influxdb" ],
        "interval": {{ metric_interval | int }}
    },
    "time_metrics": {
        "type": "metric",
        "command": "/usr/local/bin/metrics-ntpdate.rb",
        "subscribers": [
            "{{ cluster_name }}"
        ],
        "handlers": [ "influxdb" ],
        "interval": {{ metric_interval | int }}
    }
  }
}