{
  "handlers": {
    "default": {
      "type": "pipe",
      "command": "cat"
    },
    "influxdb": {
      "type": "pipe",
      "command": "/usr/local/bin/metrics-influxdb.rb influxdb"
    }
  }
}
