{
  "handlers": {
    "default": {
      "type": "pipe",
      "command": "cat"
    }
  },
  "checks": {
    "cpu": {
        "command": "/usr/local/bin/check-cpu.rb -w 95 -c 100",
        "interval": 10,
        "subscribers": [
            "{{ cluster_name }}"
        ]
    },
    "cpu_metrics": {
        "type": "metric",
        "command": "/usr/local/bin/metrics-cpu.rb",
        "subscribers": [
            "{{ cluster_name }}"
        ],
        "interval": 10
    },
    "memory": {
        "command": "/usr/local/bin/check-memory.rb -w 128 -c 32",
        "interval": 10,
        "subscribers": [
            "{{ cluster_name }}"
        ]
    },
    "memory_metrics": {
        "type": "metric",
        "command": "/usr/local/bin/metrics-memory.rb",
        "subscribers": [
            "{{ cluster_name }}"
        ],
        "interval": 10
    },
    "network_metrics": {
        "type": "metric",
        "command": "/usr/local/bin/metrics-net.rb",
        "subscribers": [
            "{{ cluster_name }}"
        ],
        "interval": 10
    },
    "docker_metrics": {
        "type": "metric",
        "command": "/usr/local/bin/metrics-docker-container.rb",
        "subscribers": [
            "{{ cluster_name }}"
        ],
        "interval": 10
    }
  }
}