{
  "client": {
    "name": "{{ hostvars[inventory_hostname]['system_name'] }}",
    "address": "{{ hostvars[inventory_hostname]['private_ip_address'] }}",
    "subscriptions": [
      "{{ cluster_name }}",
      "{{ cluster_name }}-master"
    ]
  }
}