{
  "client": {
    "name": "{{ hostvars[inventory_hostname]['system_name'] }}",
    "address": "{{ sensu_master }}",
    "subscriptions": [
      "{{ cluster_name }}"
      "{{ cluster_name }}-service"
    ]
  }
}