{
  "checks": {
    "mesos_slave_metrics": {
        "type": "metric",
        "command": "/usr/local/bin/metrics-mesos.rb -h {{ hostvars[inventory_hostname].private_ip_address }} -m slave",
        "subscribers": [
            "{{ cluster_name }}-slave"
        ],
        "handlers": [ "influxdb" ],
        "interval": {{ metric_interval | int }}
    }
  }
}