#!/bin/bash

/usr/local/bin/etcd \
    --name {{ hostvars[inventory_hostname]['ec2_tag_Name'] }} \
    --initial-advertise-peer-urls http://{{ hostvars[inventory_hostname]['ec2_private_ip_address'] }}:2380 \
    --listen-peer-urls http://{{ hostvars[inventory_hostname]['ec2_private_ip_address'] }}:2380 \
    --listen-client-urls http://{{ hostvars[inventory_hostname]['ec2_private_ip_address'] }}:2379,http://127.0.0.1:2379 \
    --advertise-client-urls http://{{ hostvars[inventory_hostname]['ec2_private_ip_address'] }}:2379 \
    --initial-cluster-token {{ cluster_name }}-1 \
    --initial-cluster {{ hostlist }} \
    --initial-cluster-state new


