#!/bin/bash
if [ $1 = "start" ] ; then
	curl -X POST -H "Content-Type: application/json" -d @{{ docker_registry_dir }}/docker_registry_marathon.json http://{{ marathon_host }}:8080/v2/apps

elif [ $1 = "stop" ] ; then
	curl -X DELETE  -H "Content-Type: application/json" http://{{ marathon_host }}:8080/v2/apps/docker-registry
fi