
# Storage for cluster state. Examples:
# - file:kafka-mesos.json
# - zk:/kafka-mesos
storage=zk:/kafka-mesos

master=zk://{{ zookeeper_hosts }}/mesos
zk={{ zookeeper_hosts }}
api=http://{{ framework_host }}:7000

log.retention.minutes=20
failoverTimeout=60
