storage=zk:/kafka-mesos

master=zk://{{ zookeeper_hosts }}/mesos
zk={{ zookeeper_hosts }}
api=http://{{ framework_host }}:7000

delete.topic.enable=true
num.partitions=256
failoverTimeout=60

log.dirs=/tmp/kafka/$id
log.segment.bytes=1000000
log.retention.hours=1